/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'condlight';
  src: url("fonts/plutosanscondlight-webfont.eot");
  src: url("fonts/plutosanscondlight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/plutosanscondlight-webfont.woff") format("woff"), url("fonts/plutosanscondlight-webfont.ttf") format("truetype"), url("fonts/plutosanscondlight-webfont.svg#pluto_sanscond_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url("fonts/plutosansmedium-webfont.eot");
  src: url("fonts/plutosansmedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/plutosansmedium-webfont.woff") format("woff"), url("fonts/plutosansmedium-webfont.ttf") format("truetype"), url("fonts/plutosansmedium-webfont.svg#pluto_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/screen.scss */
html, body, .container {
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/screen.scss */
body {
  color: white;
}

/* line 27, ../sass/screen.scss */
h1, h2, #btndiscover, #btnview, #btnnew {
  display: block;
}

/* line 32, ../sass/screen.scss */
h1, #btndiscover, hgroup, #centerparagraph, #btnview, #btnnew {
  margin: 0 auto;
}

/* line 37, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 43, ../sass/screen.scss */
h2, #btndiscover, #centerparagraph, #btnview, #btnnew {
  text-align: center;
}

/* line 48, ../sass/screen.scss */
#btndiscover, h1, #church, #tower, #btnview, #btnnew {
  background-repeat: no-repeat;
}

/* line 53, ../sass/screen.scss */
.invisible {
  display: none;
}

/* line 58, ../sass/screen.scss */
body {
  font-size: 62.5%;
  font-family: 'condlight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #abddc4;
}

/* line 65, ../sass/screen.scss */
#wrapper {
  width: 100%;
}

/* line 70, ../sass/screen.scss */
.container {
  position: relative;
  min-height: 100%;
}

/* line 76, ../sass/screen.scss */
.corner {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 3px solid white;
  z-index: 10;
}

/* line 85, ../sass/screen.scss */
.topleft {
  left: 10px;
  top: 10px;
}

/* line 91, ../sass/screen.scss */
.topright {
  right: 10px;
  top: 10px;
}

/* line 97, ../sass/screen.scss */
.bottomleft {
  bottom: 10px;
  left: 10px;
}

/* line 103, ../sass/screen.scss */
.bottomright {
  right: 10px;
  bottom: 10px;
}

/* line 109, ../sass/screen.scss */
.frame {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  position: absolute;
  padding: 10px;
  border: 3px solid white;
}

/* line 120, ../sass/screen.scss */
#church {
  bottom: -239px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  left: 10%;
  position: absolute;
  width: 214px;
  height: 461px;
  background-image: url("../images/church.png");
  -webkit-transition-property: bottom, 1s, ease-out;
  -moz-transition-property: bottom, 1s, ease-out;
  -o-transition-property: bottom, 1s, ease-out;
  transition-property: bottom 1s ease-out;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 136, ../sass/screen.scss */
.churchtransition {
  bottom: 25px !important;
  opacity: 1 !important;
}

/* line 142, ../sass/screen.scss */
#tower {
  right: 10%;
  bottom: -239px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 144px;
  height: 444px;
  background-image: url("../images/tower.png");
  -webkit-transition-property: bottom, 1s, ease-out;
  -moz-transition-property: bottom, 1s, ease-out;
  -o-transition-property: bottom, 1s, ease-out;
  transition-property: bottom 1s ease-out;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 158, ../sass/screen.scss */
#btngarden, #btnmap {
  font-family: "medium";
  position: absolute;
  left: 85px;
  top: 85px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.8em;
  z-index: 99;
}

/* line 170, ../sass/screen.scss */
#btnlogout {
  font-family: "medium";
  position: absolute;
  right: 85px;
  top: 85px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.8em;
  z-index: 99;
}

/* line 182, ../sass/screen.scss */
#headerhome {
  padding-top: 175px;
  margin-bottom: 75px;
}
/* line 187, ../sass/screen.scss */
#headerhome hgroup {
  width: 80%;
}
/* line 191, ../sass/screen.scss */
#headerhome hgroup h1 {
  width: 135px;
  height: 194px;
  background-image: url("../images/logo.png");
  margin-bottom: 25px;
}
/* line 199, ../sass/screen.scss */
#headerhome hgroup h2 {
  font-size: 3em;
  line-height: 1.4em;
  letter-spacing: 0.05em;
}

/* line 208, ../sass/screen.scss */
#centerparagraph {
  width: 80%;
  font-family: "condlight";
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
}

/* line 218, ../sass/screen.scss */
#btndiscover, #btnview, #btnnew {
  font-family: "medium";
  background-image: url("../images/btnframe.png");
  width: 269px;
  height: 60px;
  padding-top: 22px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 230, ../sass/screen.scss */
#headermap {
  background-image: url("../images/hands.png");
  width: 139px;
  height: 143px;
  background-repeat: no-repeat;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* line 240, ../sass/screen.scss */
#zentrijk {
  width: 100%;
  height: 100%;
}
/* line 245, ../sass/screen.scss */
#zentrijk header {
  padding-top: 55px;
}
/* line 249, ../sass/screen.scss */
#zentrijk header h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

/* line 259, ../sass/screen.scss */
#mapbox {
  position: absolute;
  left: 55px;
  right: 55px;
  bottom: 55px;
  top: 355px;
}

/* line 270, ../sass/screen.scss */
#gridchoice a {
  float: left;
}

/* line 276, ../sass/screen.scss */
#btnview {
  margin-right: 15px;
}

/* line 281, ../sass/screen.scss */
.clear {
  clear: both;
}

@media screen and (max-width: 850px) {
  /* line 288, ../sass/screen.scss */
  #church, #tower {
    display: none;
  }
}
@media screen and (max-height: 460px) {
  /* line 296, ../sass/screen.scss */
  #headerhome {
    padding-top: 50px;
    margin-bottom: 25px;
  }
  /* line 301, ../sass/screen.scss */
  #headerhome h1 {
    width: 68px !important;
    height: 97px !important;
    background-image: url("../images/logomobile.png") !important;
  }
  /* line 308, ../sass/screen.scss */
  #headerhome h2 {
    font-size: 1.5em !important;
    letter-spacing: 0em !important;
  }

  /* line 315, ../sass/screen.scss */
  #centerparagraph {
    font-size: 1.2em !important;
  }

  /* line 320, ../sass/screen.scss */
  #btndiscover {
    padding-top: 16px;
    font-size: 1.4em !important;
    background-image: url("../images/btnframemobile.png") !important;
    width: 202px !important;
    height: 45px !important;
  }

  /* line 329, ../sass/screen.scss */
  .corner {
    width: 7px;
    height: 7px;
  }

  /* line 335, ../sass/screen.scss */
  .frame {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  /* line 343, ../sass/screen.scss */
  .topleft {
    left: 5px;
    top: 5px;
  }

  /* line 349, ../sass/screen.scss */
  .topright {
    right: 5px;
    top: 5px;
  }

  /* line 355, ../sass/screen.scss */
  .bottomleft {
    bottom: 5px;
    left: 5px;
  }

  /* line 361, ../sass/screen.scss */
  .bottomright {
    right: 5px;
    bottom: 5px;
  }

  /* line 367, ../sass/screen.scss */
  #church, #tower {
    bottom: 15px !important;
  }
}
@media screen and (max-height: 760px) {
  /* line 375, ../sass/screen.scss */
  #btndiscover {
    padding-bottom: 30px;
  }
}
/* line 381, ../sass/screen.scss */
#grid {
  position: absolute;
  top: 28px;
  left: 28px;
  right: 28px;
  bottom: 28px;
}

/* line 390, ../sass/screen.scss */
#marker1, #marker2, #marker3, #marker4, #marker5, #marker6, #marker7, #marker8, #marker9, #marker10, #marker11, #marker12 {
  position: absolute;
  width: 25%;
  height: 33.33%;
  text-align: center;
}
/* line 397, ../sass/screen.scss */
#marker1 img, #marker2 img, #marker3 img, #marker4 img, #marker5 img, #marker6 img, #marker7 img, #marker8 img, #marker9 img, #marker10 img, #marker11 img, #marker12 img {
  height: 100%;
  width: 100%;
}

/* line 404, ../sass/screen.scss */
#marker1 {
  top: 0;
  left: 0;
}

/* line 410, ../sass/screen.scss */
#marker2 {
  left: 25%;
  top: 0;
}

/* line 416, ../sass/screen.scss */
#marker3 {
  left: 50%;
  top: 0;
}

/* line 422, ../sass/screen.scss */
#marker4 {
  left: 75%;
  top: 0;
}

/* line 428, ../sass/screen.scss */
#marker5 {
  left: 0;
  top: 33.33%;
}

/* line 434, ../sass/screen.scss */
#marker6 {
  left: 25%;
  top: 33.33%;
}

/* line 440, ../sass/screen.scss */
#marker7 {
  left: 50%;
  top: 33.33%;
}

/* line 446, ../sass/screen.scss */
#marker8 {
  left: 75%;
  top: 33.33%;
}

/* line 452, ../sass/screen.scss */
#marker9 {
  left: 0;
  top: 66.66%;
}

/* line 458, ../sass/screen.scss */
#marker10 {
  left: 25%;
  top: 66.66%;
}

/* line 464, ../sass/screen.scss */
#marker11 {
  left: 50%;
  top: 66.66%;
}

/* line 470, ../sass/screen.scss */
#marker12 {
  left: 75%;
  top: 66.66%;
}

/* line 478, ../sass/screen.scss */
#grid input[type='submit'] {
  padding-top: 25%;
  font-family: 'medium';
  color: #83c0a1;
  font-size: 3em;
  border: 0;
  background-color: #ABDDC4;
  cursor: pointer;
}

/* line 490, ../sass/screen.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 495, ../sass/screen.scss */
#loginsection {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 497, ../sass/screen.scss */
#loginsection header {
  padding-top: 213px;
  margin-bottom: 175px;
}
/* line 507, ../sass/screen.scss */
#loginsection form {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.8em;
  font-family: 'medium';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: right;
}
/* line 522, ../sass/screen.scss */
#loginsection form fieldset {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 529, ../sass/screen.scss */
#loginsection form label {
  line-height: 38px;
  display: inline-block;
  margin-bottom: 30px;
}
/* line 536, ../sass/screen.scss */
#loginsection form input[type='text'] {
  border: 3px solid white;
  height: 45px;
  width: 250px;
  margin-left: 10px;
  margin-bottom: 25px;
  background-color: transparent;
  padding-left: 10px;
  font-size: 1.1em;
  color: #FFFFFF;
  font-family: 'medium';
}
/* line 550, ../sass/screen.scss */
#loginsection form input[type='submit'] {
  background-image: url("../images/submitlogin.png");
  width: 269px;
  height: 60px;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
  font-family: 'medium';
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  margin-top: 20px;
  cursor: pointer;
}

/* line 568, ../sass/screen.scss */
#btns {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

/* line 577, ../sass/screen.scss */
#selectphoto {
  position: absolute;
  top: 28px;
  left: 28px;
  right: 28px;
  bottom: 28px;
  text-align: center;
}
/* line 586, ../sass/screen.scss */
#selectphoto div {
  width: 25%;
  height: auto;
  float: left;
  position: relative;
}
/* line 593, ../sass/screen.scss */
#selectphoto div img {
  max-width: 100%;
  max-height: 100%;
}
/* line 599, ../sass/screen.scss */
#selectphoto div form {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 605, ../sass/screen.scss */
#selectphoto div form input[type='submit'] {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

/* line 620, ../sass/screen.scss */
.washed {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ABDDC4;
  opacity: 0.50;
}

/* line 629, ../sass/screen.scss */
.formwashed {
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 100%;
}
/* line 636, ../sass/screen.scss */
.formwashed input[type='submit'] {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  cursor: pointer;
}

/* line 649, ../sass/screen.scss */
#gridcounter {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 99;
  font-family: "medium";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.8em;
}

/* line 662, ../sass/screen.scss */
.errormessage {
  font-size: 0.6em;
  letter-spacing: 0em;
  text-transform: none;
  margin-right: 20px;
  color: #ED7829;
}

/* line 671, ../sass/screen.scss */
#headerenroute {
  padding-top: 240px;
  margin-bottom: 100px;
}

/* line 679, ../sass/screen.scss */
#enroute a {
  margin-top: 150px;
}
/* line 684, ../sass/screen.scss */
#enroute img {
  margin: 0 auto;
}
/* line 689, ../sass/screen.scss */
#enroute h2 {
  font-family: "condlight";
  font-size: 2em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}
/* line 697, ../sass/screen.scss */
#enroute p {
  padding-left: 25%;
  padding-right: 25%;
  width: 50%;
  font-family: "condlight";
  font-size: 1.4em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}
/* line 709, ../sass/screen.scss */
#enroute h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2.6em;
  font-family: "medium";
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 720, ../sass/screen.scss */
#erleft, #erright {
  text-align: center;
  width: 50%;
  float: left;
  z-index: -97;
}

/* line 728, ../sass/screen.scss */
#frame {
  background-color: transparent;
}

/* line 733, ../sass/screen.scss */
#overlaybottom {
  position: absolute;
  bottom: -200px;
  left: 0px;
  height: 225px;
  width: 100%;
  background-color: #ABDDC4;
}

/* line 743, ../sass/screen.scss */
#btndiscover {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 752, ../sass/screen.scss */
#btns {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 761, ../sass/screen.scss */
#btnchoose, #btnzentrijk {
  display: block;
  float: left;
  margin-left: 15px;
  text-align: center;
  background-repeat: no-repeat;
  font-family: "medium";
  background-image: url("../images/btnframe.png");
  width: 269px;
  height: 60px;
  padding-top: 22px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
